body {
  margin: 0px;
}

@font-face {
  font-family: "opensans-bold";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans-regular";
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 640px) {

  h1 {
    font-family: "opensans-bold";
    color: white;
    text-transform: UPPERCASE;
    font-size: 25px;
    width: 80%;
    text-align: center;
    margin: 20px auto 150px auto;
    z-index: 3;
  }
  a {
    text-decoration: none;
    color: black;
  }
  h2 {
    margin: 25px auto 25px auto;
    font-family: "opensans-bold";
  }

  h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px auto;
    text-align: center;
    width: 65px;
    border-bottom: 5px solid #b59f5b;
    opacity: 0.4;
  }

  h5{
    font-size: 17px;
    text-transform: UPPERCASE;
    font-family: opensans-bold;
    margin-bottom: 10px;
    margin-top: 30px;
  }


  p {
    margin-top: 30px;
    font-family: opensans-regular;
    font-size: 15px;
    line-height: 22px;
  }

  .tag{

    color: black;
    font-size: 13px;
  }

  .header {
    background-image: url("img/banner-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

  }

  .header::after {
    content: "";
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  }

  #menu-toggle {
    display: none;
  }

  .hamburger-menu {
    z-index: 7;
    width: 0px;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 15px;
    width: 22px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
  }

  .menu-btn > span::before {
    content: "";
    top: -7px;
  }

  .menu-btn > span::after {
    content: "";
    top: 7px;
  }

  .menu-box {
    /* display: flex;
    position: absolute;
    visibility: hidden;
    top: 80px;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2); */
    display: none;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    color: black;
    text-transform: UPPERCASE;
    font-family: "opensans-regular";
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }

  .menu-item:hover {
    background-color: #b59f5b;
  }

  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }

  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu-toggle:checked ~ .menu-box {
    visibility: visible;
    left: 0;
  }

  .header-logo {
    width: 70%;
    z-index: 1;
    text-align: center;
    margin: auto;
    margin-top: 200px;
  }

  .container {
    display: flex;
  }

  .text-h1 {
    display: flex;
  }

  .now-in-trend {
    display: flex;
    text-transform: UPPERCASE;
    font-size: 12px;
  }

  .trend {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 230px;
    margin-top: 1px;
  }

  .trend:after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.5;
  }

  .first-trend{
    background:url(img/trend1.jpg);
    background-size: cover;
  }
  .text-info {
    max-width: 381px;
    border-bottom: 1px grey solid;
  }
  .second-trend{
    background:url(img/trend2.jpg);
    background-size: cover;
  }

  .third-trend{
    background:url(img/trend3.jpg);
    background-size: cover;
  }

  .fourth-trend{
    background:url(img/trend4.jpg);
    background-size: cover;
  }

  .polosa {
    display: flex;
    flex-direction: column;
  }

  .text-block {
    position: relative;
    z-index: 2;
    border: 3px solid #b59f5b;
    width: 100%;
    margin: 85px 15px 15px 15px;
    padding: 25px;
  }

  .a-slider-news-name{
    font-family: "opensans-bold";
    text-transform: UPPERCASE;
    text-decoration: none;
    color: white;
    font-size: 16px;
  }

  .slider-news-name {
    text-transform: UPPERCASE;
    margin-top: 10px;
    font-size: 12px;
    font-family: "opensans-regular";
    color: white;
  }

  .thematics {
    font-family: "opensans-bold";
    color: #b59f5b;
    font-size: 14px;
    text-transform: UPPERCASE;
    font-weight: bold;
    font-family: opensans-bold;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .themas {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .thema {
    text-transform: UPPERCASE;
    font-size: 10px;
    color: #b59f5b;
  }

  .thema:nth-child(2){
    margin-left: 20px;
  }

  .a-thema{
    color: #b59f5b;
    font-size: 14px;
    text-decoration: none;
  }

  .main-news{
    margin: auto;
  }

  .news-image {
    width: 100%;
  }

  .a-thema-in-news{
    font-family: "opensans-bold";
    text-transform: UPPERCASE;
    font-size: 15px;
    color: #b59f5b;
  }

  .thema-in-news:nth-child(2){
    margin-left: 20px;
  }

  .thema-in-news:nth-child(3){
    margin-left: 20px;
  }

  .news-name {
    font-family: opensans-bold;
    font-size: 17px;
    text-transform: uppercase;
  }

  .news-card {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin-top: 10px;
  }

  .news-content {
    font-family: "opensans-regular";
    font-size: 12px;
  }



  .news-date {
    display: inline;
    font-family: opensans-regular;
    color: #888888;
    font-size: 12px;
  }

  .news-author {
    display: inline;
    font-family: opensans-bold;
    font-size: 12px;
    margin-left: 16px;
  }

  .aside-news-title {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    font-family: opensans-bold;
    font-size: 16px;
    text-transform: uppercase;
  }

  .aside-news-title::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px auto;
    text-align: center;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
  }

  .last-posts-header {
    height: 50px;
    display: flex;
    text-transform: UPPERCASE;
    font-size: 16px;
  }

  .last-news {
    padding: 5%;
  }

  .last-post {
    display: flex;
    margin-top: 22px;
    margin-bottom: 25px;
  }


  .last-post-list {
    box-sizing: border-box;
    margin-left: 10px;
  }


  .last-post-link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-family: opensans-bold;
    text-transform: UPPERCASE;
    margin:0;
  }

  .search-form {
    display: flex;
    justify-content:center;

  }
  .aside-post{
    width: 85%;
  }
  .search-field {
    font-family: opensans-regular;
    width:275px;
    line-height: 40px;
    background: #f4f7f6;
    border: none;
    font-size: 13px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 45px;
  }

  .button {
    width: 50px;
    height: 50px;
    margin-left: 0;
    border: none;
    background: url("svg/search.svg")
    no-repeat;
    background-color: #b59f5b;
    background-size: 45%;
    background-position: center;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .button-subscribe {
    margin-top: 10px;
    padding: 10px 35px;
    border: none;
    background-color: #b59f5b;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
  }

  .email-field {
    font-family: opensans-regular;
    box-sizing: border-box;
    line-height: 50px;
    background: #f4f7f6;
    border: none;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 19px;
    margin-top: 20px;
    width: 100%;
  }

  .email-button {
    box-sizing: border-box;
    margin-top: 17px;
    width: 100%;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    text-align: center;
    font-family: opensans-bold;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 0;
    margin-top: 25px;
  }

  .tags-container {
    display: block;
    list-style-type: none;
    font-family: opensans-bold;
    box-sizing: border-box;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 10px;
    text-transform: uppercase;
    padding-left: 11px;
    padding-right: 11px;
    border: 3px solid #f4f3f1;
    margin-bottom: 7px;
    margin-right: 5px;
  }

  .categories-list {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
  }

  .category-type {
    position: relative;
    font-family: opensans-bold;
    font-size: 14px;
    text-transform: capitalize;
  }

  .category-type::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
  }

  .categories-link {
    text-decoration: none;
    color: black;
    line-height: 40px;
    font-size: 16px;
  }

  .amount {
    font-family: opensans-bold;
    font-size: 12px;
    color: #b59f5b;
    margin-left: 5px;
    vertical-align: super;
  }

  .social-links {
    display: flex;
    background-color: #f4f7f6;
    width: 100%;
  }

  .image-box {
    display: flex;
    margin: auto;
    list-style-type: none;
    padding: 30px;
  }
  .image-list1{
    background: url(svg/004-twitter.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .image-list2{
    margin-left: 28px;
    background: url(svg/001-pinterest.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;

  }

  .image-list3{
    margin-left: 28px;
    background: url(svg/002-facebook.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .image-list4{
    margin-left: 28px;
    background: url(svg/005-instagram.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .image-list5{
    margin-left: 28px;
    background: url(svg/003-tumblr.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .social-image {
    box-sizing: border-box;
    height: 21px;
    width: 21px;
  }

  .image-list:first-child {
    margin-left: 0px;
  }

  .copyright {
    display: flex;
    height: 100px;
  }

  .copyright-link {
    text-decoration: none;
    color: #999999;
    font-family: opensans-bold;
    font-size: 12px;
    margin: auto;
  }

  .squad-border{
    border: 2px #b59f5b solid;
    max-width: 340px;
    margin: -30px auto 30px auto;
  }

  .last {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }

  .text-bottom {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .last-last {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }

  .bottom-product {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 10px 20px;

  }

  .a-product{
    color: #b59f5b;
  }

  .buy-button {
    box-sizing: border-box;
    width: 40%;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    text-align: center;
    font-family: opensans-bold;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: white;

  }



  .sale-price {
    font-family: opensans-bold;
    font-size: 16px;

  }

  .real-price{
    font-size: 14px;
    font-family: opensans-bold;
    text-decoration: line-through;
  }

  .text-product{
    font-size:13px;
    margin-top: 0px;
    margin-bottom:0px;
    padding-right: 0px;
  }

  .b-popup-hidden{
    width:100%;
    height: 5000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:absolute;
    top:0px;
    z-index: 10;
    display: none;
  }

  .popup {
    position:absolute;
    z-index: 20;
    max-width: 290px;
    max-height: 490px;
    background-color: white;
    padding: 20px;
    justify-content: center;
    top:15%;
    left: 10px;
    right: 10px;
    margin: auto;
  }

  .form-x{
    height: 20px;
    position: absolute;
    z-index: 1000;
    top:100px;
    right: 100px;
    left: 350px;
    margin: auto;

  }

  .h1-popup{
    text-align: center;
  }

  .field{
    background-color: #f4f7f6;
    height: 50px;
    display: flex;
  }
  .text{
    margin-top: 15px;
    font-size:11px;
  }

  .text-question{
    padding-top: 10px;
    font-size:11px;
  }

  .text-field{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 11px;
    font-family: opensans-regular;
  }

  .arrows {
    margin-top: 15px;
    width: 10px;
    height: 20px;
    margin-left: 140px;
  }

  .circle {
    width: 10px;
    height: 10px;
  }

  .span-circle{
    margin-right: 10px;
    color: black;
    padding-left: 0px;
    font-size: 11px;
    font-family: opensans-regular;
    text-transform: none;
  }

  .comment-form{
    display: flex;
    flex-direction: column;
  }

  .field-comment{
    height: 100px;
    padding-left: 15px;
    padding-top: 15px;

    background-color: #f4f7f6;
    font-size: 11px;
    font-family: opensans-regular;

  }

  .send-button{
    margin-top: 20px;
    box-sizing: border-box;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    text-align: center;
    font-family: opensans-bold;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
  }
}





@media (min-width:641px) and (max-width: 1199px) {

  aside {
    max-width: 280px;

  }

  main{
    width: 45%;
  }

  h1 {
    font-family: "opensans-bold";
    color: white;
    text-transform: UPPERCASE;
    font-size: 35px;
    margin: 100px auto;
    text-align: center;
    width: 80%;
    z-index: 1;
  }

  h2 {
    margin: 25px auto 25px auto;
    font-family: "opensans-bold";
  }

  h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px auto;
    text-align: center;
    width: 65px;
    border-bottom: 5px solid #b59f5b;
    opacity: 0.4;
  }

  h5{
    font-size: 19px;
    text-transform: UPPERCASE;
    font-family: opensans-bold;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  span {
    text-transform: UPPERCASE;
    font-size: 10px;
    color: #b59f5b;
  }

  p {
    margin-top: 30px;
    font-family: opensans-regular;
    font-size: 15px;
    line-height: 22px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #menu-toggle {
    display: none;
  }

  #menu-toggle:checked ~ .menu-btn > span {
    transform: rotate(45deg);
  }

  #menu-toggle:checked ~ .menu-btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu-toggle:checked ~ .menu-btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu-toggle:checked ~ .menu-box {
    visibility: visible;
    left: 0;
  }

  .menu-btn {
    display: flex;
    position: relative;
    align-items: center;
    width: 22px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
  }

  .menu-btn > span::before {
    content: "";
    top: -7px;
  }

  .menu-btn > span::after {
    content: "";
    top: 7px;
  }

  .menu-box {
    display: none;
  }

  .menu-item {
    display: block;
    padding: 12px 24px;
    color: black;
    text-transform: UPPERCASE;
    font-family: "opensans-regular";
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  }

  .menu-item:hover {
    background-color: #b59f5b;
  }

  .container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;
    padding-top: 30px;

  }

  .header {
    background-image: url("img/banner-bg-tablet.jpg");
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;

  }

  .header::after {
    content: "";
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  }

  .Container1 {
    display: flex;
    width: 85%;
    margin:40px auto 0px auto;
    justify-content: space-between;
    max-width: 1200px;
  }

  .header-logo {
    width: 150px;
    z-index: 1;
  }

  .text-h1 {
    display: flex;
  }

  .now-in-trend {
    display: flex;
    text-transform: UPPERCASE;
    font-size: 12px;
  }

  .trend {
    display: flex;
    position: relative;
    width: 49%;
    margin: 1px;
    min-height: 250px;
  }

  .trend:after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.5;
  }

  .first-trend{
    background:url(img/trend1.jpg);
    background-size: cover;
  }

  .second-trend{
    background:url(img/trend2.jpg);
    background-size: cover;
  }

  .third-trend{
    background:url(img/trend3.jpg);
    background-size: cover;
  }

  .fourth-trend{
    background:url(img/trend4.jpg);
    background-size: cover;
  }

  .polosa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 0px;
  }

  .text-block {
    position: relative;
    z-index: 2;
    border: 3px solid #b59f5b;
    width: 100%;
    margin: 85px 15px 15px 15px;
    padding: 30px;
  }

  .a-slider-news-name{
    font-family: "opensans-bold";
    font-size: 16px;
    text-transform: UPPERCASE;
    text-decoration: none;
    color: white;
    font-size: 15px;

  }

  .slider-news-name {
    text-transform: UPPERCASE;
    margin-top: 10px;
    font-size: 12px;
    font-family: "opensans-regular";
    color: white;
  }

  .thematics {
    font-family: "opensans-bold";
    color: #b59f5b;
    font-size: 14px;
    text-transform: UPPERCASE;
    font-weight: bold;
    font-family: opensans-bold;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;

  }

  .thema {
    text-transform: UPPERCASE;
    font-size: 10px;
    color: #b59f5b;
  }

  .thema:nth-child(2){
    margin-left: 20px;
  }

  .a-thema{
    color: #b59f5b;
    font-size: 15px;
  }

  .news-image {
    width: 100%;
  }

  .a-thema-in-news{
    font-family: "opensans-bold";
    text-transform: UPPERCASE;
    font-size: 14px;
    color: #b59f5b;
  }

  .thema-in-news:nth-child(2){
    margin-left: 20px;
  }

  .thema-in-news:nth-child(3){
    margin-left: 20px;
  }

  .themas {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .news-name {
    font-family: opensans-bold;
    font-size: 15px;
    text-transform: uppercase;
  }

  .news-card {
    flex-wrap: wrap;
    max-width: 350px;
  }

  .news-card:nth-child(1) {
    margin-top: 10px;
  }

  .main-text {
    font-family: "opensans-regular";
    font-size: 13px;
  }

  .news-date {
    display: inline;
    font-family: opensans-regular;
    color: #888888;
    font-size: 12px;
  }

  .news-author {
    display: inline;
    font-family: opensans-bold;
    font-size: 12px;
    margin-left: 16px;
  }

  .last-posts-header {
    height: 50px;
    display: flex;
    text-transform: UPPERCASE;
    font-size: 16px;
  }

  .last-post {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
    margin-top: 22px;
    margin-left: 0px;
  }

  .last-post-list {
    box-sizing: border-box;
    width: 190px;
    margin-left: 10px;
  }

  .last-post-link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-family: opensans-bold;
    text-transform: UPPERCASE;
    margin: 0;
  }

  .search-form {
    display: flex;
    margin-top: 45px;

  }

  .search-field {
    font-family: opensans-regular;
    width: 230px;
    margin: auto;
    line-height: 40px;
    background: #f4f7f6;
    border: none;
    font-size: 13px;
    height: 50px;
    padding-left: 15px;

  }

  .grey-polosa{
    border: 1px grey solid;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .button {
    width: 50px;
    height: 50px;
    margin-left: 0;
    border: none;
    background: url("svg/search.svg")
    no-repeat;
    background-color: #b59f5b;
    background-size: 45%;
    background-position: center;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .button-subscribe {
    margin-top: 10px;
    padding: 10px 35px;
    border: none;
    background-color: #b59f5b;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
  }

  .email-field {
    font-family: opensans-regular;
    box-sizing: border-box;
    width: 280px;
    line-height: 50px;
    background: #f4f7f6;
    border: none;
    font-size: 13px;
    padding-left: 15px;
    margin-top: 20px;
    padding-right: 15px;
  }

  .email-button {
    box-sizing: border-box;
    margin-top: 17px;
    width: 100%;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    text-align: center;
    font-family: opensans-bold;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 25px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 0;
    margin-top: 25px;
  }

  .tags-container {
    display: block;
    list-style-type: none;
    font-family: opensans-bold;
    box-sizing: border-box;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 10px;
    text-transform: uppercase;
    padding-left: 11px;
    padding-right: 11px;
    border: 3px solid #f4f3f1;
    margin-bottom: 7px;
    margin-right: 5px;
  }

  .categories-list {
    margin-top: 40px;
    list-style-type: none;
    padding-left: 0;
  }

  .category-type {
    position: relative;
    font-family: opensans-bold;
    font-size: 14px;
    text-transform: capitalize;
  }

  .category-type::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
  }

  .categories-link {
    text-decoration: none;
    color: black;
    line-height: 40px;
  }

  .amount {
    font-family: opensans-bold;
    font-size: 12px;
    color: #b59f5b;
    margin-left: 5px;
    vertical-align: super;
  }

  .social-links {
    display: flex;
    background-color: #f4f7f6;
    width: 85%;
    margin: auto;
  }

  .image-box {
    display: flex;
    margin: auto;
    list-style-type: none;
    padding: 30px;
  }

  .image-list1{
    background: url(svg/004-twitter.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .image-list2{
    margin-left: 28px;
    background: url(svg/001-pinterest.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .image-list3{
    margin-left: 28px;
    background: url(svg/002-facebook.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .image-list4{
    margin-left: 28px;
    background: url(svg/005-instagram.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .image-list5{
    margin-left: 28px;
    background: url(svg/003-tumblr.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .social-image {
    box-sizing: border-box;
    height: 21px;
    width: 21px;
  }

  .image-list:first-child {
    margin-left: 0px;
  }

  .copyright {
    display: flex;
    height: 100px;
  }

  .copyright-link {
    text-decoration: none;
    color: #999999;
    font-family: opensans-bold;
    font-size: 12px;
    margin: auto;
  }

  .last-last {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    align-items:flex-start;
  }

  .first-img{
    margin: auto;
    margin-bottom: 0px;
    background-color: black;
  }

  .squad-border{
    border: 2px #b59f5b solid;
    max-width: 340px;
    margin: -30px auto 30px auto;
    height: 258px;

  }

  .last {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }


  .text-bottom {
    display: flex;
    padding: 25px;
    margin: 0;
    flex-direction: column;
    width: 80%;
  }

  .bottom-product {
    display: flex;
    justify-content: space-between;

    padding: 0px 20px 10px 20px;

  }
  .a-product{
    color: #b59f5b;
  }

  .buy-button {
    box-sizing: border-box;
    width: 40%;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    text-align: center;
    font-family: opensans-bold;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
    margin-right: 25px;
  }


  .sale-price {
    font-family: opensans-bold;
    font-size: 16px;
    margin-top:5px;
  }

  .real-price{
    font-size: 14px;
    font-family: opensans-bold;
    text-decoration: line-through;
  }

  .text-product{
    font-size:13px;
    margin-top: 0px;
    margin-bottom:0px;
    padding-right: 0px;
  }

  .aside-news-title {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    font-family: opensans-bold;
    font-size: 14px;
    text-transform: uppercase;
  }

  .aside-news-title::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px auto;
    text-align: center;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
  }

  .b-popup-hidden{
    width:100%;
    height: 5000px;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:absolute;
    top:0px;
    z-index: 10;
    display: none;
  }

  .popup {
    position:fixed;
    z-index: 10000;
    width: 290px;
    height: 490px;
    background-color: white;
    padding: 20px;
    right: 100px;
    left: 100px;
    margin: auto;
    top:30%;
  }

  .form-x{
    height: 20px;
    position: fixed ;
    z-index: 1000;
    top:320px;
    right: 100px;
    left: 410px;
    margin: auto;
  }

  .h1-popup{
    text-align: center;
  }

  .field{
    background-color: #f4f7f6;
    height: 50px;
    display: flex;
  }

  .text{
    margin-top: 15px;
    font-size:11px;
  }

  .text-question{
    padding-top: 10px;
    font-size:11px;
  }

  .text-field{
    margin-left: 15px;
    margin-top: 15px;
    font-size: 11px;
    font-family: opensans-regular;
  }

  .arrows {
    margin-top: 15px;
    width: 10px;
    height: 20px;
    margin-left: 140px;
  }

  .circle {
    width: 10px;
    height: 10px;
  }

  .span-circle{
    margin-right: 10px;
    color: black;
    padding-left: 0px;
    font-size: 11px;
    font-family: opensans-regular;
    text-transform: none;
  }

  .comment-form{
    display: flex;
    flex-direction: column;
  }

  .field-comment{
    height: 100px;
    padding-left: 15px;
    padding-top: 15px;
    background-color: #f4f7f6;
    font-size: 11px;
    font-family: opensans-regular;

  }

  .send-button{
    margin-top: 20px;
    box-sizing: border-box;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    text-align: center;
    font-family: opensans-bold;
    font-size: 14px;
    text-transform: uppercase;
    color: white;
  }
}

@media (min-width: 1201px) {

  body {
    margin: 0px;
  }

  h1 {
    font-family: "opensans-bold";
    color: white;
    text-transform: UPPERCASE;
    font-size: 42px;
    max-width: 680px;
    text-align: center;
    margin: 110px auto;
    z-index: 3;
  }

  h2 {
    margin: 25px auto 25px auto;
    font-family: "opensans-bold";
  }

  h2::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 5px auto;
    text-align: center;
    width: 65px;
    border-bottom: 5px solid #b59f5b;
    opacity: 0.4;
  }

  h5{
    font-size: 19px;
    text-transform: UPPERCASE;
    font-family: opensans-bold;
    margin-bottom: 10px;
    margin-top: 20px;
  }

  p {
    margin-top: 30px;
    padding-right: 25px;
    font-family: opensans-regular;
    font-size: 14px;
    line-height: 22px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  #menu-toggle {
    display: none;
  }

  .menu-box {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;

  }
  .aside-posts{
    margin-top: 40px;
  }
  .aside-news-title {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    font-family: opensans-bold;
    font-size: 14px;
    text-transform: uppercase;
  }

  .aside-news-title::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 65px;
    margin: 5px auto;
    text-align: center;
    border-bottom: 3px solid #b59f5b;
    opacity: 0.4;
  }
  .header {
    background-image: url("img/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
  }

  .header::after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.5;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    width: 1200px;
    margin: auto;
    padding-top: 20px;
    align-items: center;
  }

  .header-logo {
    display: block;
    width: 179px;
  }

  .menu-item {
    color: white;
    font-size: 11px;
    font-family: opensans-regular;
    text-transform: UPPERCASE;
  }

  .src-menu-item {
    margin-right: 25px;
  }

  .src-menu-item:last-child{
    margin-right: 0;
  }

  .text-h1 {
    display: flex;
  }

  .a-thema{
    color: #b59f5b;
  }

  .thema:nth-child(2){
    margin-left: 20px;
  }

  .themas {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .a-thema-in-news{
    font-family: "opensans-bold";
    text-transform: UPPERCASE;
    font-size: 14px;
    color: #b59f5b;
  }

  .thema-in-news:nth-child(2){
    margin-left: 20px;
  }

  .thema-in-news:nth-child(3){
    margin-left: 20px;
  }


  .blockTrend {
    display: flex;
    height: 120px;
  }

  .now-in-trend {

    display: flex;
    text-transform: UPPERCASE;
    font-size: 12px;
  }

  .ne-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .trend {
    display: flex;
    position: relative;
    width: 25%;
    min-height: 250px;
    margin-right: 1px;
  }

  .trend:after {
    content: "";
    background-color: #000000;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    opacity: 0.5;
  }

  .first-trend{
    background:url(img/trend1.jpg);
    background-size: cover;
  }

  .second-trend{
    background:url(img/trend2.jpg);
    background-size: cover;
  }

  .third-trend{
    background:url(img/trend3.jpg);
    background-size: cover;
  }

  .fourth-trend{
    background:url(img/trend4.jpg);
    background-size: cover;
  }

  .polosa {
    display: flex;
  }

  .text-block {
    position: relative;
    z-index: 2;
    border: 5px solid #b59f5b;
    width: 100%;
    margin: 80px 20px 20px 20px;
    padding: 20px;
  }

  .a-slider-news-name{
    font-family: "opensans-bold";
    text-transform: UPPERCASE;
    text-decoration: none;
    color: white;
    font-size: 15px;
  }

  .Container1 {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: auto;
  }

  .news-name {
    font-family: opensans-bold;
    line-height: 24px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .news-card:nth-child(1){
    margin-top: 40px;
  }

  .news-card {
    display: flex;
    margin-bottom: 40px;
    max-width: 840px;
  }

  .news-card:nth-child(5){
    margin-bottom: 0px;
  }

  .thematics {
    color: #b59f5b;
    font-size: 14px;
    text-transform: UPPERCASE;
    font-weight: bold;
    font-family: opensans-bold;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .text-info {
    box-sizing: border-box;
    margin-left: 20px;
    width: 370px;
  }
  .data {
    display: flex;
    flex-wrap: wrap;
  }

  .news-date {
    display: inline;
    font-family: opensans-regular;
    color: #888888;
    font-size: 12px;
  }
  .news-author {
    display: inline;
    font-family: opensans-bold;
    font-size: 12px;
    margin-left: 16px;
  }

  .last-post {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
    margin-top: 22px;
    margin-left: 0px;
  }
  .last-post-list {
    box-sizing: border-box;
    width: 220px;
    margin-left: 10px;
  }
  .last-post-link {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    font-family: opensans-bold;
    text-transform: UPPERCASE;
    margin: 0px;
  }

  .tags-part {
    text-decoration: none;
    color: #000000;
    text-transform: UPPERCASE;
  }
  .title-thematics-container {
    text-decoration: none;
    color: #000000;
  }
  .button-subscribe {
    margin-top: 10px;
    padding: 10px 35px;
    border: none;
    background-color: #b59f5b;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }

  .search-form {
    display: flex;
    margin-top: 30px;
  }

  .search-field {
    font-family: opensans-regular;
    width:250px ;
    line-height: 48px;
    background: #f4f7f6;
    border: none;
    font-size: 13px;
    padding-left: 19px;
  }

  .button {
    width: 50px;
    height: 50px;
    margin-left: 0;
    border: none;
    background: url("svg/search.svg")
    no-repeat;
    background-color: #b59f5b;
    background-size: 45%;
    background-position: center;
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .email-field {
    font-family: opensans-regular;
    box-sizing: border-box;
    width: 300px;
    line-height: 50px;
    background: #f4f7f6;
    border: none;
    font-size: 13px;
    padding-left: 19px;
    padding-right: 19px;
    margin-top: 40px;
  }

  .email-button {
    box-sizing: border-box;
    margin-top: 17px;
    width: 100%;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    text-align: center;
    font-family: opensans-bold;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 0;
    margin-top: 40px;
  }

  .tags-container {
    display: block;
    list-style-type: none;
    font-family: opensans-bold;
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 11px;
    padding-right: 11px;
    border: 3px solid #f4f3f1;
    margin-bottom: 7px;
    margin-right: 5px;
  }

  .categories-list {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
  }

  .category-type {
    position: relative;
    font-family: opensans-bold;
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: 1px solid #eeeeee;
  }

  .categories-link {
    text-decoration: none;
    color: black;
    line-height: 32px;
  }

  .amount {
    font-family: opensans-bold;
    font-size: 12px;
    color: #b59f5b;
    margin-left: 5px;
    vertical-align: super;
  }

  .social-links {
    display: flex;
    width: 1200px;
    margin: auto;
    background-color: #f4f7f6;

  }

  .image-box {
    display: flex;
    margin: auto;
    list-style-type: none;
    padding: 30px;
  }

  .image-list1{
    background: url(svg/004-twitter.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .image-list2{
    margin-left: 28px;
    background: url(svg/001-pinterest.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .image-list3{
    margin-left: 28px;
    background: url(svg/002-facebook.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .image-list4{
    margin-left: 28px;
    background: url(svg/005-instagram.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .image-list5{
    margin-left: 28px;
    background: url(svg/003-tumblr.svg);
    height: 21px;
    width: 23px;
    background-repeat: no-repeat;
  }

  .social-image {
    box-sizing: border-box;
    height: 21px;
    width: 23px;
  }

  .image-list:first-child {
    margin-left: 0px;
  }

  .copyright {
    display: flex;
    height: 100px;
  }

  .copyright-link {
    text-decoration: none;
    color: #999999;
    font-family: opensans-bold;
    font-size: 12px;
    margin: auto;
  }

  .last-news{
    max-width:300px;
    margin-left: 60px;
  }

  .first-img{
    margin: auto;
    margin-bottom: 0px;
    background-color: black;
  }

  .squad-border{
    border: 2px #b59f5b solid;
    margin: -30px auto 0px auto;
    max-width: 340px;
    height: 222px;
  }

  .last {
    display: flex;
    flex-direction: column;
  }

  .last-last {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    max-width: 1200px;
  }

  .text-bottom {
    padding: 20px 20px 20px 20px;
  }

  .bottom-product {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 0px 20px 10px 20px;

  }
  .a-product{
    color: #b59f5b;
  }

  .buy-button {
    box-sizing: border-box;
    width: 40%;
    height: 50px;
    background-color: #b59f5b;
    border: none;
    text-align: center;
    font-family: opensans-bold;
    font-size: 14px;
    line-height: 40px;
    text-transform: uppercase;
    color: white;
  }

  .sale-price {
    font-family: opensans-bold;
    font-size: 16px;
    margin-top:5px;
  }

  .real-price{
    font-size: 14px;
    font-family: opensans-bold;
    text-decoration: line-through;
  }

  .text-product{
    font-size:13px;
    margin-top: 0px;
    margin-bottom:0px;
    padding-right: 0px;
  }

.b-popup-hidden{
  width:100%;
  height: 5000px;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:absolute;
  top:0px;
  z-index: 10;
  display: none;
}

.popup {
  position:fixed;
  z-index: 20;
  width: 290px;
  background-color: white;
  padding: 20px;
  right: 100px;
  left:100px;
  margin: auto;
  top:25%;
}

.form-x{
  height: 20px;
  position: fixed;
  z-index: 1000;
  top:200px;
  right: 100px;
  left: 400px;
  margin: auto;
}

.h1-popup{
  text-align: center;
  margin-top: 0px;
}

.field{
  background-color: #f4f7f6;
  height: 50px;
  display: flex;
}

.text{
  margin-top: 15px;
  font-size:11px;
}

.text-question{
  padding-top: 10px;
  font-size:11px;
}

.text-field{
  margin-left: 15px;
  margin-top: 15px;
  font-size: 11px;
  font-family: opensans-regular;
}

.arrows {
  margin-top: 15px;
  width: 10px;
  height: 20px;
  margin-left: 120px;
}

.circle {
  width: 10px;
  height: 10px;
}

.span-circle{
  margin-right: 10px;
  color: black;
  padding-left: 0px;
  font-size: 11px;
  font-family: opensans-regular;
  text-transform: none;
}

.comment-form{
  display: flex;
  flex-direction: column;
}

.field-comment{
  height: 100px;
  padding-left: 15px;
  padding-top: 15px;
  background-color: #f4f7f6;
  font-size: 11px;
  font-family: opensans-regular;
}

.send-button{
  margin-top: 20px;
  box-sizing: border-box;
  height: 50px;
  background-color: #b59f5b;
  border: none;
  text-align: center;
  font-family: opensans-bold;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
}
}
